{% extends 'blog/asosiy.html' %}

{% block kontent %}
    <h2>📌 Biz haqimizda</h2>

    <div class="post-card">
        <div class="post-card-content">
            <h3>Bizning blog loyihamiz</h3>
            <p>
                Bu sayt foydalanuvchilarga post joylash, izoh yozish, like bosish,
                rasm yuklash va boshqa qulayliklarni taqdim etadi.
            </p>
            <p>
                Ushbu loyiha Django yordamida ishlab chiqilgan.
            </p>
        </div>
    </div>
{% endblock %}